:root {
  --background: #ffffff;
  --foreground: #171717;

  --text-primary: #000;
  --text-secondary: #666;

  --custom-theme-heading: #49080C;
  --custom-theme-text: #721F14;
  --custom-theme-fill: #E9DDCD;
  --custom-theme-background: #f7faf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--custom-theme-background);
  font-family: "Raleway", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
