.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--custom-theme-fill);
  p {
    color: var(--custom-theme-text);
  }
  h1 {
    font-size: 3rem;
    color: var(--custom-theme-heading);
    font-weight: 700;
  }
}
